.dashboard {
    background: linear-gradient(to bottom, #4b6cb7, #182848);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 300px;
    padding: 20px;
    background-color: white;
 margin-left: -100px;
  }
  
  .button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #4b6cb7;
    background-image: linear-gradient(to bottom, #4b6cb7, #182848);
    color: white;
    border: none;
    transition: background 0.3s;
  }
  
  .button:hover {
    background-color: #3c5496;
    background-image: linear-gradient(to bottom, #3c5496, #132140);
  }

  .school-portal {
    color: white;
    font-size: 24px;
    text-align: center;

    margin-bottom: 20px;
    margin-top: -240px;
    margin-right: -35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .login-container {
    margin-top: 20px;
  }
  
  .login-input {
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
  }
  
  .login-button {
    background-color: #4b6cb7;
    background-image: linear-gradient(to bottom, #4b6cb7, #182848);
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    transition: background 0.3s;
  }
  
  .login-button:hover {
    background-color: #3c5496;
    background-image: linear-gradient(to bottom, #3c5496, #132140);
  }
  
  .right-align {
    text-align: right;
  }

/* Dashboard.css */
/* Dashboard.css */

/* Dashboard.css */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  height: 100vh;

  background: linear-gradient(to bottom, #cccccc, #999999);
}

.sidebar-items {
  list-style-type: none;
  padding: 0;
  margin: 91;
  margin-bottom: 49;
}

.sidebar-item {
  display: flex;
  align-items: center;

  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.sidebar-item:not(:last-child) {
  margin-bottom: 5px;
}

.sidebar-item:hover {
  background-color: #e0e0e0;
}

.sidebar-item-icon {
  margin-right: 5px;
}

.main-content {
  /* Add styles for the main content area */
}

.sidebar-item-text {
  margin-top: 40px; /* Adjust the margin-top value to move the text lower */
}


.admindash {
  background: linear-gradient(to bottom, #f8f7f3, #484a4e);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box {
  position: fixed;
  top: 34px;
  left: 29%;
  transform: translateX(-50%);
  width: 240px;
  height: 70px;
  background-color: #312b2b;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: white;
}

.box2 {
  position: fixed;
  top: 34px;
  left: 49%;
  transform: translateX(-50%);
  width: 240px;
  height: 70px;
  background-color: #312b2b;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: white;
}

.box3 {
  position: fixed;
  top: 34px;
  left: 69%;
  transform: translateX(-50%);
  width: 240px;
  height: 70px;
  background-color: #312b2b;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: white;
}

.box4 {
  position: fixed;
  top: 34px;
  left: 89%;
  transform: translateX(-50%);
  width: 240px;
  height: 70px;
  background-color: #312b2b;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  color: white;
}